In [6]:
import pandas as pd

df = pd.read_csv("/drive2/kaggle/pii-dd/piidd/training/assertion/multirun/2024-04-04/13-51-50/2/m3cexgj2/20240404163213_preds.csv")

In [7]:
df

,NAME_STUDENT,O,label,text,document,name
0,0.412826,0.587174,NAME_STUDENT,Challenge\n\nVisualization is one of the power...,9043,Manuela
1,0.416745,0.583255,NAME_STUDENT,Moustapha Santi\t\r \t\r Challenge\t\r I...,5549,Santi
2,0.609016,0.390984,NAME_STUDENT,1 Leonardo Torres\n\nReflection – Learning Lau...,3885,Irina
3,0.945299,0.054702,NAME_STUDENT,Uriel Romero’s Reflection - Storytelling\n\nCh...,6002,Uriel
4,0.119049,0.880951,O,"is 4 hours from her house, is the closest town...",10220,María
...,...,...,...,...,...,...
478,0.161717,0.838283,O,and finances) given my desire to not over inv...,17724,Hess
479,0.941975,0.058025,NAME_STUDENT,"storytelling, this the moment where we try to ...",6853,Mohinder
480,0.298261,0.701739,O,-coordinate=RightShoulderPos.x- LeftShoulderPo...,3709,Kamani
481,0.941654,0.058346,NAME_STUDENT,everyday life. As I selected visualization as...,9028,Luz
482,0.946597,0.053403,NAME_STUDENT,Tony Flores | Assignment on Reflection – Learn...,8593,Flores

In [8]:
name_score = df["NAME_STUDENT"]

for i in range(0, 100, 5):
    i = i / 100

    print(f"Threshold: {i}")
    df["pred"] = ["NAME_STUDENT" if x > i else "O" for x in name_score]

    print((df["pred"] == df["label"]).mean())

Threshold: 0.0
0.7494824016563147
Threshold: 0.05
0.7494824016563147
Threshold: 0.1
0.7536231884057971
Threshold: 0.15
0.7784679089026915
Threshold: 0.2
0.8364389233954451
Threshold: 0.25
0.8405797101449275
Threshold: 0.3
0.8467908902691511
Threshold: 0.35
0.8509316770186336
Threshold: 0.4
0.855072463768116
Threshold: 0.45
0.8530020703933747
Threshold: 0.5
0.8509316770186336
Threshold: 0.55
0.8488612836438924
Threshold: 0.6
0.8467908902691511
Threshold: 0.65
0.84472049689441
Threshold: 0.7
0.8364389233954451
Threshold: 0.75
0.8281573498964804
Threshold: 0.8
0.8219461697722568
Threshold: 0.85
0.7991718426501035
Threshold: 0.9
0.782608695652174
Threshold: 0.95
0.2505175983436853