In [5]:
import json
import os
from dotenv import load_dotenv
from pathlib import Path

dotenv_path = Path("../../.env")
if dotenv_path.exists():
    print("Loaded .env file!")
    load_dotenv(str(dotenv_path))


data = json.load(open(Path(os.environ["PROJECT_HOME_DIR"]) / "data/train.json"))

Loaded .env file!

In [6]:
doc = 12512

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]
# swap "Jordi" with "SHIBPUR"
d["full_text"] = d["full_text"].replace("Jordi", "SHIBPUR")
idxs = [i for i, x in enumerate(d["tokens"]) if x == "Jordi"]

d["labels"] = [x if i not in idxs else "O" for i, x in enumerate(d["labels"])]
d["tokens"] = [x.replace("Jordi", "SHIBPUR") for x in d["tokens"]]

data[idx] = d

In [7]:
doc = 9493

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]
# title NITHIN, SUNITH
names = ["NITHIN", "SUNITH"]

idxs = [i for i, x in enumerate(d["tokens"]) if x in names]

for n in names:
    d["full_text"] = d["full_text"].replace(n, n.title())


d["labels"] = [x if i not in idxs else "B-NAME_STUDENT" for i, x in enumerate(d["labels"])]
d["tokens"] = [x.title() if i in idxs else x for i, x in enumerate(d["tokens"])]


data[idx] = d

In [8]:
doc = 3709

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

first_names = ["Katia"]
last_names = ["Johnson"]
first_idxs = [i for i, x in enumerate(d["tokens"]) if x in first_names]
last_idxs = [i for i, x in enumerate(d["tokens"]) if x in last_names]

d["labels"] = [x if i not in first_idxs else "B-NAME_STUDENT" for i, x in enumerate(d["labels"])]
d["labels"] = [x if i not in last_idxs else "I-NAME_STUDENT" for i, x in enumerate(d["labels"])]

data[idx] = d

In [9]:
doc = 10376

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]


first_names = ["Simona"]
last_names = ["Gamal"]
first_idxs = [i for i, x in enumerate(d["tokens"]) if x in first_names]
last_idxs = [i for i, x in enumerate(d["tokens"]) if x in last_names]

d["labels"] = [x if i not in first_idxs else "B-NAME_STUDENT" for i, x in enumerate(d["labels"])]
d["labels"] = [x if i not in last_idxs else "I-NAME_STUDENT" for i, x in enumerate(d["labels"])]

data[idx] = d

d["full_text"].count("Simona")

1

In [10]:
doc = 4600

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

first_names = ["Isabel"]
last_names = ["Yomna"]
first_idxs = [i for i, (x, y) in enumerate(zip(d["tokens"], d["labels"])) if x in first_names and y != "O"]
last_idxs = [i for i, (x, y) in enumerate(zip(d["tokens"], d["labels"])) if x in last_names and y != "O"]

d["full_text"] = d["full_text"].replace("Isabel", "<TEMP1>", 1).replace("Yomna", "<TEMP2>", 1)
d["full_text"] = d["full_text"].replace("Isabel", "Nicholas", 1).replace("Yomna", "Broad", 1)
d["full_text"] = d["full_text"].replace("<TEMP1>", "Isabel", 1).replace("<TEMP2>", "Yomna", 1)

d["tokens"] = [x if i not in first_idxs else "Nicholas" for i, x in enumerate(d["tokens"])]
d["tokens"] = [x if i not in last_idxs else "Broad" for i, x in enumerate(d["tokens"])]

data[idx] = d

In [11]:
doc = 8302

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]


name = "Coyle"
idxs = [i for i, (x, y) in enumerate(zip(d["tokens"], d["labels"])) if x == name]

d["labels"] = [x if i not in idxs else "B-NAME_STUDENT" for i, x in enumerate(d["labels"])]

data[idx] = d

In [12]:
doc = 9854

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]


email = "vpi@mn.nl"
idxs = [i for i, (x, y) in enumerate(zip(d["tokens"], d["labels"])) if x == email]

d["labels"] = [x if i not in idxs else "B-EMAIL" for i, x in enumerate(d["labels"])]
data[idx] = d

In [13]:
doc = 3202

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

one = "https://www.youtube.com/channel/UC1ElAcppeuhfet"
two = "nYZqnhEXw"
combined = one + two

tokens = d["tokens"]
labels = d["labels"]

new_tokens = []
new_labels = []
for t, ll in zip(tokens, labels):
    if t == one:
        new_tokens.append(combined)
        new_labels.append(ll)
    elif t == two:
        pass
    else:
        new_tokens.append(t)
        new_labels.append(ll)


d["tokens"] = new_tokens
d["labels"] = new_labels

data[idx] = d

In [14]:
doc = 13144

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if "gdelossantos" in t:
        new_labels.append("B-USERNAME")
    else:
        new_labels.append(ll)


d["labels"] = new_labels
data[idx] = d

In [15]:
doc = 17832

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if "https://medium.com/unilaproex" in t:
        new_labels.append("B-URL_PERSONAL")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [16]:
doc = 21564

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if "Chesdin" in t:
        new_labels.append("B-NAME_STUDENT")
    elif "Harrington" in t:
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [17]:
doc = 21580

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_tokens = []
new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Christopher\u200b":
        new_labels.append("B-NAME_STUDENT")
        new_tokens.append("Christopher")
    elif t == "\u200bThorborg":
        new_labels.append("I-NAME_STUDENT")
        new_tokens.append("Thorborg")
    else:
        new_labels.append(ll)
        new_tokens.append(t)


d["labels"] = new_labels
d["tokens"] = new_tokens

data[idx] = d

In [18]:
doc = 22088

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "María":
        new_labels.append("B-NAME_STUDENT")
    elif t == "José":
        new_labels.append("I-NAME_STUDENT")
    elif t == "Reyes":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels
data[idx] = d

In [19]:
doc = 19936

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Cachet":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Prescott":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [20]:
doc = 2722

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Jaramillo":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [21]:
doc = 10517

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Jaramillo":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [22]:
doc = 8344

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Janet":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Galletti":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [23]:
doc = 12120

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Madrid":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [24]:
doc = 9629

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Janet":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Galletti":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [25]:
doc = 6622

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Toni":
        new_labels.append("B-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [26]:
doc = 8108

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Vikas":
        new_labels.append("B-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [27]:
doc = 6622

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Carolina":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Chavez":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [28]:
doc = 3540

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Fabian":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Jones":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [29]:
doc = 10220

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Paolina":
        new_labels.append("B-NAME_STUDENT")
    # elif t == "":
    #     new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [30]:
doc = 22023

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Vinay":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Kolusu":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [31]:
doc = 10324

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Khairah":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Safiyah":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Hannah":
        new_labels.append("B-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [32]:
doc = 11856

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Geoff":
        new_labels.append("B-NAME_STUDENT")
    # elif t == "Safiyah":
    #     new_labels.append("B-NAME_STUDENT")
    # elif t == "Hannah":
    #     new_labels.append("B-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

data[idx] = d

In [33]:
doc = 21527

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Tomasz":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Ostrowski":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

In [34]:
doc = 21538

idx = -1
for i, d in enumerate(data):
    if d["document"] == doc:
        idx = i
        break

d = data[idx]

new_labels = []

for t, ll in zip(d["tokens"], d["labels"]):
    if t == "Alex":
        new_labels.append("B-NAME_STUDENT")
    elif t == "Brulliea":
        new_labels.append("I-NAME_STUDENT")
    else:
        new_labels.append(ll)


d["labels"] = new_labels

In [35]:
old_data = json.load(open(Path(os.environ["PROJECT_HOME_DIR"]) / "data/train.json"))

In [36]:
for old, new in zip(old_data, data):
    for to, llo, tn, lln in zip(old["tokens"], old["labels"], new["tokens"], new["labels"]):
        if llo != lln: #or to != tn:
            print([old["document"], to, llo, tn, lln])

[2722, 'Jaramillo', 'O', 'Jaramillo', 'I-NAME_STUDENT']
[3202, 'nYZqnhEXw', 'I-URL_PERSONAL', '\n\n', 'O']
[3202, '\n\n', 'O', 'Ahmed', 'B-NAME_STUDENT']
[3202, 'Ahmed', 'B-NAME_STUDENT', 'Salem', 'I-NAME_STUDENT']
[3202, 'Salem', 'I-NAME_STUDENT', 'Reflection', 'O']
[3540, 'Fabian', 'O', 'Fabian', 'B-NAME_STUDENT']
[3540, 'Jones', 'O', 'Jones', 'I-NAME_STUDENT']
[3709, 'Katia', 'O', 'Katia', 'B-NAME_STUDENT']
[3709, 'Johnson', 'O', 'Johnson', 'I-NAME_STUDENT']
[6622, 'Carolina', 'O', 'Carolina', 'B-NAME_STUDENT']
[6622, 'Chavez', 'O', 'Chavez', 'I-NAME_STUDENT']
[8108, 'Vikas', 'O', 'Vikas', 'B-NAME_STUDENT']
[8108, 'Vikas', 'O', 'Vikas', 'B-NAME_STUDENT']
[8302, 'Coyle', 'O', 'Coyle', 'B-NAME_STUDENT']
[8302, 'Coyle', 'O', 'Coyle', 'B-NAME_STUDENT']
[8302, 'Coyle', 'O', 'Coyle', 'B-NAME_STUDENT']
[8302, 'Coyle', 'O', 'Coyle', 'B-NAME_STUDENT']
[8344, 'Janet', 'O', 'Janet', 'B-NAME_STUDENT']
[8344, 'Galletti', 'O', 'Galletti', 'I-NAME_STUDENT']
[9493, 'SUNITH', 'O', 'Sunith', 'B-NAME_STUDENT']
[9493, 'NITHIN', 'O', 'Nithin', 'B-NAME_STUDENT']
[9854, 'vpi@mn.nl', 'O', 'vpi@mn.nl', 'B-EMAIL']
[10220, 'Paolina', 'O', 'Paolina', 'B-NAME_STUDENT']
[10324, 'Khairah', 'O', 'Khairah', 'B-NAME_STUDENT']
[10324, 'Safiyah', 'O', 'Safiyah', 'B-NAME_STUDENT']
[10324, 'Hannah', 'O', 'Hannah', 'B-NAME_STUDENT']
[10376, 'Simona', 'O', 'Simona', 'B-NAME_STUDENT']
[10376, 'Gamal', 'O', 'Gamal', 'I-NAME_STUDENT']
[11856, 'Geoff', 'O', 'Geoff', 'B-NAME_STUDENT']
[12120, 'Madrid', 'O', 'Madrid', 'I-NAME_STUDENT']
[12512, 'Jordi', 'B-NAME_STUDENT', 'SHIBPUR', 'O']
[12512, 'Jordi', 'B-NAME_STUDENT', 'SHIBPUR', 'O']
[13144, 'gdelossantos', 'O', 'gdelossantos', 'B-USERNAME']
[17832, 'https://medium.com/unilaproex', 'O', 'https://medium.com/unilaproex', 'B-URL_PERSONAL']
[19936, 'Cachet', 'O', 'Cachet', 'B-NAME_STUDENT']
[19936, 'Prescott', 'O', 'Prescott', 'I-NAME_STUDENT']
[21527, 'Tomasz', 'O', 'Tomasz', 'B-NAME_STUDENT']
[21527, 'Ostrowski', 'O', 'Ostrowski', 'I-NAME_STUDENT']
[21538, 'Alex', 'O', 'Alex', 'B-NAME_STUDENT']
[21538, 'Brulliea', 'O', 'Brulliea', 'I-NAME_STUDENT']
[21564, 'Chesdin', 'O', 'Chesdin', 'B-NAME_STUDENT']
[21564, 'Harrington', 'O', 'Harrington', 'I-NAME_STUDENT']
[21564, 'Chesdin', 'O', 'Chesdin', 'B-NAME_STUDENT']
[21564, 'Harrington', 'O', 'Harrington', 'I-NAME_STUDENT']
[21580, 'Christopher\u200b', 'O', 'Christopher', 'B-NAME_STUDENT']
[21580, '\u200bThorborg', 'O', 'Thorborg', 'I-NAME_STUDENT']
[22023, 'Vinay', 'O', 'Vinay', 'B-NAME_STUDENT']
[22023, 'Kolusu', 'O', 'Kolusu', 'I-NAME_STUDENT']
[22023, 'Vinay', 'O', 'Vinay', 'B-NAME_STUDENT']
[22023, 'Kolusu', 'O', 'Kolusu', 'I-NAME_STUDENT']
[22088, 'María', 'O', 'María', 'B-NAME_STUDENT']
[22088, 'José', 'O', 'José', 'I-NAME_STUDENT']
[22088, 'Reyes', 'O', 'Reyes', 'I-NAME_STUDENT']

In [37]:
json.dump(data, open(Path(os.environ["PROJECT_HOME_DIR"]) / "data/corrected_train_v2.json", "w"), indent=2)

In [38]:
import pandas as pd

tokens = []
labels = []
document = []
token_text = []

for d in data:
    tokens.extend(list(range(len(d["tokens"]))))
    token_text.extend(d["tokens"])
    labels.extend(d["labels"])
    document.extend([d["document"]] * len(d["tokens"]))

df = pd.DataFrame({"document": document, "token": tokens, "token_text": token_text, "label": labels})

df.to_parquet(Path(os.environ["PROJECT_HOME_DIR"]) / "data/corrected_train_v2.pq")

In [39]:
df[df.document == 9854].head(20)

        document  token    token_text             label
861195      9854      0        Waseem    B-NAME_STUDENT
861196      9854      1       Mabunda    I-NAME_STUDENT
861197      9854      2                               O
861198      9854      3           591  B-STREET_ADDRESS
861199      9854      4         Smith  I-STREET_ADDRESS
861200      9854      5       Centers  I-STREET_ADDRESS
861201      9854      6           Apt  I-STREET_ADDRESS
861202      9854      7             .  I-STREET_ADDRESS
861203      9854      8           656  I-STREET_ADDRESS
861204      9854      9            \n  I-STREET_ADDRESS
861205      9854     10   Joshuamouth  I-STREET_ADDRESS
861206      9854     11             ,  I-STREET_ADDRESS
861207      9854     12            RI  I-STREET_ADDRESS
861208      9854     13         95963  I-STREET_ADDRESS
861209      9854     14             (                 O
861210      9854     15           The                 O
861211      9854     16   Netherlands                 O
861212      9854     17             )                 O
861213      9854     18                               O
861214      9854     19  410.526.1667       B-PHONE_NUM